################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Arc/v16
/.vs/MicroServiceExample/v16/Server/sqlite3
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
