@{
    ViewBag.Title = "Makale Sayfası";
}
@section pageTitle{Makale İşlemleri}
@model List<MYARCH.DTO.EEntity.EGetPostsByUserIdDTO>
<div class="row">
    <div class="col-lg-5">
        <div class="portlet card-shadow">
            <div class="portlet-title">
                <div class="caption caption-red">
                    <i class="fa fa-list"></i>
                    <span class="caption-subject text-uppercase"> Makale Listesi</span>
                </div>
                <div class="actions">
                    <a href="javascript:funcCreateNewPost();" class="btn btn-red btn-circle active">
                        <i class="fa fa-plus"></i> Yeni Makale Oluştur
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-inline">
                    <div class="form-group">
                        <input id="inputFilterTitle" type="text" class="form-control" placeholder="başlık..." />
                    </div>
                    <div class="form-group">
                        <select id="selectFilterCategory" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <div class="actions">
                            <a href="javascript:funcTablePostReload(0);" class="btn btn-red btn-circle active" style=" padding: 6px 10px 25px 10px;">
                                <i class="fa fa-search"></i> Filtrele
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Yayın?</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody id="tbodyPostList">
                        @foreach (var item in Model)
                        {
                            string eh = item.IsActive == true ? "Evet" : "Hayır";
                            <tr id="tr-@item.PostId">
                                <td>@item.Title</td>
                                <td>@item.CreatedOnString</td>
                                <td> @eh </td>
                                <td class="text-center">
                                    <a href="javascript:funcGetPostDetailByPostId(@item.PostId)" class="btn btn-primary btn-circle ">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-inline table-bottom" style="text-align: center;">
                <a href="javascript:funcGetPostByParams($('#inputPageNumber').val(pageNumber != 1 ? pageNumber=pageNumber -1 : pageNumber=1),'os');" class="btn  active pull-left ">
                    <i class="fa fa-arrow-left"></i> Önceki
                </a>
                <input id="inputPageNumber" onkeyup="funcGetPostByParams($('#inputPageNumber').val(this.value),'i')" value="1" class="form-control" style="width:auto;" placeholder="Sayfa numarası" />
                <a href="javascript:funcGetPostByParams($('#inputPageNumber').val(postCount!=pageNumber ? pageNumber=pageNumber +1 : pageNumber=postCount ),'os');" class="btn active pull-right">
                    Sonraki <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="portlet card-shadow">
            <div class="portlet-title">
                <div class="caption caption-red">
                    <i class="fa fa-cog"></i>
                    <span class="caption-subject text-uppercase"> Makale İşlemi | </span>
                    <span class="caption-subject text-uppercase">
                        <label class="control-label">Yayınlansın mı?</label>
                        <input id="inputIsActive" type="checkbox" />
                    </span>
                </div>
                <div class="actions">
                    <a href="javascript:funcPostSave();" class="btn btn-red btn-circle active">
                        <i class="fa fa-check"></i> Kaydet
                    </a>
                    <a href="javascript:funcIsOkeyForDelete();" class="btn btn-red btn-circle active">
                        <i class="fa fa-trash"></i> Sil
                    </a>
                </div>
            </div>
            <input id="inputPostId" type="text" class="form-control" style="display:none;" value="0" />
            <div class="portlet-body">
                <div class="form-group">
                    <label class="control-label">Başlık</label>
                    <input id="inputTitle" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Url Kodu</label>
                    <input id="inputSlug" type="text" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label class="control-label">Kısa Açıklama</label>
                    <textarea id="inputShortDescription" class="form-control"></textarea>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label">Resim Seç</label>
                        <input id="fileSelect" type="file" accept="image/*" onchange="funcImageChange(this)" style="display:none;" />
                        <a href="#" onclick="$('#fileSelect').click()" class="btn btn-warning" style="display:block;">Resim Seç</a>
                    </div>
                    <div class="form-group">
                        <img id="imgPost" src="/" />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label">Kategori Seç</label>
                        <select id="selectCategory" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tarih</label>
                        <input id="inputDate" type="datetime-local" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Makale İçeriği</label>
                    <div class="summernote"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var pageNumber = 1;
    var postCount = 0;

    funcGetCategories();
    funcGetPostCount();
    function funcPostSave() {
        var url = "";
        if ($("#inputPostId").val() == 0)
            url = "/admin/post/insert";
        else
            url = "/admin/post/update";
        var data =
            {
                Id: $("#inputPostId").val(),
                Title: $("#inputTitle").val(),
                ShortDescription: $("#inputShortDescription").val(),
                CategoryId: $("#selectCategory").val(),
                ModifiedOn: $("#inputDate").val(),
                PostContent: $(".summernote").code(),
                IsActive: $("#inputIsActive")[0].checked
            };
        if ($("#inputTitle").val() != "" && $("#inputShortDescription").val() != "" && $(".summernote").code() != "") {
            if ($("#selectCategory").val() != "0" && $("#inputDate").val() != "") {
                $.ajax({
                    url: url,
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function (e) {
                        if (e == true) {
                            funcTablePostReload(0);
                            ShowMessage("success", "Tebrikler", "Değişiklikler Başarıyla Gerçekleşti.");
                        }
                    }
                });
            } else {
                ShowMessage("warning", "Uyarı!", "Lütfen kategori seçiniz veya tarih giriniz.");
            }
        } else {
            ShowMessage("warning", "Uyarı!", "Lütfen başlık, kısa açıklama veya içerik girmeyi unutmayınız.");
        }
    }
    function funcPostDelete(isOkey) {
        if (isOkey == true) {
            $.ajax({
                url: "/admin/post/delete",
                type: "post",
                data: { Id: $("#inputPostId").val() },
                success: function (e) {
                    if (e == true) {
                        $("#tr-" + $("#inputPostId").val()).remove();
                        funcCreateNewPost();
                        ShowMessage("success", "Tebrikler", "Kayıt silme işlemi başarılı.");
                    }
                }
            });
        }

    }
    function funcIsOkeyForDelete() {
        if ($("#inputPostId").val() != "0") {
            var html = '<div class="actions">' +
                       '    <a href="javascript:funcPostDelete(true);" class="btn btn-red btn-circle active">       ' +
                       '        <i class="fa fa-check"></i> Evet                                            ' +
                       '    </a>                                                                              ' +
                       '    <a href="javascript:funcPostDelete(false);" class="btn btn-red btn-circle active">     ' +
                       '        <i class="fa fa-times"></i> İptal                                               ' +
                       '    </a> ' +
                       '</div>'
            ShowMessage("info", "Bilgilendirme", "Bu kaydı silmek istediğinizden emin misiniz?<br/>" + html);
        } else {
            ShowMessage("warning", "Uyarı!", "Silinecek bir makale seçilmedi.");
        }

    }
    function funcGetPostDetailByPostId(e) {
        $.ajax({
            url: "/admin/post/GetPostDetailByPostId?postId=" + e,
            type: "get",
            success: function (e) {
                $("#inputPostId").val(e.Id)
                $("#inputTitle").val(e.Title)
                $("#inputSlug").val(e.Slug)
                $("#imgPost").attr("src", e.ImageUrl)
                $("#inputShortDescription").val(e.ShortDescription)
                $("#selectCategory").val(e.CategoryId)
                $("#inputDate")[0].value = e.ModifiedOnString;
                $(".summernote").code(e.PostContent)
                $("#inputIsActive")[0].checked = e.IsActive
            }
        });
    }
    function funcGetCategories() {
        $.ajax({
            url: "/admin/category/GetCategories",
            type: "get",
            success: function (e) {
                $("#selectCategory").append("<option value=" + 0 + ">Kategori Seçiniz</option>")
                $("#selectFilterCategory").append("<option value=" + 0 + ">Kategori Seçiniz</option>")
                for (var i = 0; i < e.length; i++) {
                    $("#selectCategory").append("<option value=" + e[i].Id + ">" + e[i].Name + "</option>")
                    $("#selectFilterCategory").append("<option value=" + e[i].Id + ">" + e[i].Name + "</option>")
                }
            }
        });
    }
    function funcCreateNewPost() {
        $("#inputPostId").val(0)
        $("#inputTitle").val("")
        $("#inputSlug").val("")
        $("#inputShortDescription").val("")
        $("#selectCategory").val(0)
        $("#inputDate")[0].value = "";
        $(".summernote").code("")
        $("#inputIsActive")[0].checked = false
    }
    function funcTablePostReload(_pageNumber) {
        var categoryId = null;
        var title = null;
        categoryId = $("#selectFilterCategory").val() != "0" ? $("#selectFilterCategory").val() : null;
        title = $("#inputFilterTitle").val() != "" ? $("#inputFilterTitle").val() : null;
        $.ajax({
            url: "/admin/post/GetPostsByFilterParams?pageNumber=" + _pageNumber + "&title=" + title + "&categoryId=" + categoryId,
            type: "get",
            success: function (e) {
                var html = "";
                for (var i = 0; i < e.length; i++) {
                    var eh = e[i].IsActive == true ? "Evet" : "Hayır";
                    html += ' <tr id="tr-' + e[i].Id + '">                                                                                         ' +
                           '    <td>' + e[i].Title + '</td>                                                                                           ' +
                           '    <td>' + e[i].CreatedOnString + '</td>                                                                                 ' +
                           '    <td>' + eh + '</td>                                                                                                 ' +
                           '    <td class="text-center">                                                                                       ' +
                           '        <a href="javascript:funcGetPostDetailByPostId(' + e[i].PostId + ')" class="btn btn-primary btn-circle ">          ' +
                           '            <i class="fa fa-edit"></i>                                                                             ' +
                           '        </a>                                                                                                       ' +
                           '    </td>                                                                                                          ' +
                           '</tr>';
                }
                if (html == "") {
                    html += ' <tr>                                                                                         ' +
                   '    <td></td>                                                                                           ' +
                   '    <td></td>                                                                                 ' +
                   '    <td>Görüntülenecek veri bulunamadı..</td>                                                                                                 ' +
                   '    <td                                                                                                     ' +
                   '    </td>                                                                                                          ' +
                   '</tr>';
                }
                $("#tbodyPostList").html(html);
            }
        });
    }
    function funcGetPostByParams(_inputPageNumber, e) {
        if (_inputPageNumber.val() != "") {
            funcTablePostReload(_inputPageNumber.val() - 1);
            if (e == "i")
                pageNumber = parseInt(_inputPageNumber.val());
        }
    }
    function funcGetPostCount() {
        $.ajax({
            url: "/admin/post/GetPostCount",
            type: "get",
            success: function (e) {
                postCount = e;
            }
        });
    }
    function funcImageChange(e) {
        var data = new FormData();
        data.append("ImageFormData", e.files[0]);
        $.ajax({
            url: "/admin/profile/tempimage",
            type: "post",
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (e) {
                $("#imgProfile").attr("src", "/profile/tempimageshow");
            }
        })
    }
</script>
@section scripts
{
    <script>
        $('.summernote').summernote({
            height: 150,
            codemirror: {
                theme: 'monokai'
            }
        });
    </script>
}